.game-screen {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // border: 3px solid blue;
    position: relative;
}

.answer.is-pulsing .bubble {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 0 3px rgba($left-bg, 0.5);
}

/* game */
.answer {
    // background-image: url("asset/guess.png");
    // background: #fafafa;
    // border-radius: 48px;
    height: 120px;
    width: 300px;
    // height: 80px;
    box-sizing: border-box;

    margin: 48px 0 48px 0;
    text-align: center;
    padding: 12px;
    position: relative;
    font-size: 26px;
    color: #fff;

    .bubble {
        position: relative;
        display: block;
        background: $left-bg;
        pointer-events: none;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 28px;
        box-shadow: 0 0 0 3px rgba($left-bg, 0);
        transition: 300ms background $motion-in-out;
        // animation: 300ms scalein $motion-in-out;
    }
    // .audio-play {
    //     position: absolute;
    //     left: 32px;
    //     top: 26px;
    // }
    .rknot {
        display: block;
        position: absolute;
        left: -9px;
        top: calc(50% - 9px);
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 4px solid $right-bg;
        pointer-events: none;
    }
    .lknot {
        display: block;
        position: absolute;
        right: -9px;
        top: calc(50% - 9px);
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 4px solid $left-bg;
        pointer-events: none;
    }
}

.challenge-right .answer .bubble {
    background-color: $right-bg;
}

@media screen and (max-width: 1100px) {
    .answer {
        width: 150px;
        font-size: 16px;
    }
}

.game-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}

.cross {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 50;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    animation: 3000ms crossin linear;
    animation-fill-mode: forwards;
    background: #170d3d;
    box-shadow: 0 0 20px 100px #170d3d;
    border-radius: 100px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: #e21010;
        // box-shadow: 0 0 20px red;
    }

    &::before {
        width: 100%;
        height: 50px;
        top: 75px;
        left: 0;
        transform: rotate(45deg);
    }

    &::after {
        width: 50px;
        height: 100%;
        top: 0;
        left: 75px;
        transform: rotate(45deg);
    }
}

@keyframes crossin {
    0% {
        transform: scale(0);
    }
    5% {
        transform: scale(1.2);
    }
    7% {
        transform: scale(0.9);
    }
    9% {
        transform: scale(1);
    }
    94% {
        transform: scale(1);
    }
    95% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}

.tick {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 50;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    animation: 3000ms crossin linear;
    animation-fill-mode: forwards;
    background: #170d3d;
    box-shadow: 0 0 100px 300px #170d3d;
    border-radius: 100px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: #039166;
        border-radius: 8px;
    }

    &::before {
        width: 50px;
        height: 90px;
        top: 130px;
        left: -10px;
        transform: rotate(-45deg);
        transform-origin: 0 0;
    }

    &::after {
        width: 50px;
        height: 220px;
        top: 10px;
        left: 181px;
        transform: rotate(45deg);
        transform-origin: 0 0;
    }
}

.t-stars {
    // animation: 3000ms crossin linear;
    // animation-fill-mode: both;
    // animation-delay: 300ms;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 80px;
    z-index: 60;
    color: orange;
}

.t-star {
    margin: 0 12px;
}

.game-round {
    pointer-events: none;
    display: flex;
    justify-content: center;
}

.gr-badge {
    width: 18px;
    height: 18px;
    font-size: 14px;
    border-radius: 50%;
    display: block;
    margin: 0 4px;
    text-align: center;
    border: 1px solid rgba(#fff, 0.5);
    box-sizing: border-box;
    color: #fff;
    line-height: 16px;

    & > span {
        display: none;
    }
    &.is-done {
        background: rgba(#fff, 0.15);
        &::before {
            line-height: 16px;
        }
    }

    &.is-current {
        background: rgba(#fff, 0.15);
        & > span {
            display: block;
        }
    }
}

.game-score {
    font-size: 38px;
    display: flex;
    line-height: 48px;
    align-items: center;
    .value {
        padding: 0 8px 0 0;
    }
    .icon {
        color: orange;
        font-size: 30px;
    }
}