.challenge {
  height: 100vh;
  transition: 500ms filter $motion-in-out, 500ms opacity $motion-in-out;
  // filter: blur(0);
  &.evaluating .answer .bubble {
      background: #170D3D;
  }
  &.evaluating .answer .knot {
      // border-color: #170D3D;
  }
}
.challenge-inner {
  padding: 12px;
  background: rgba(#000, 0);
  max-width: 1024px;
  margin: auto;
  box-sizing: border-box;
}

@media screen and (min-height: 601px) {
  .challenge-inner {
    height: 600px;
    position: relative;
    top: calc(50vh - 300px);
  }
}

@media screen and (max-width: 1100px) {
  .challenge-inner {
    max-width: 700px;
  }
}

.challenge-duo {
  display: flex;
  justify-content: space-between;

}
.challenge-left {
  // padding: 0 250px 0 0;
}


body {
  overflow: hidden;
  background: url('./asset/menu-bg.png');
  color: #fff;
}

.app {
  // background: #d9f0ff;
  // width: 1000px;
  // height: 720px;
  box-sizing: border-box;
  width: 100%;

}

