$primary: #2176ff;
$font-family: Grandstander;
$bg: #fff;
$motion-in-out: cubic-bezier(0.4, 0.14, 0.3, 1);
$text: #161616;
$link: $primary;
$text-muted: #6d7079;
$positive: #0a9756;
$negative: #910000;
$info: #2176ff;
$keyline-hard: #dedede;
$keyline: #e7e7e7;
// $keyline: #c0cad6;
$keyline-soft: #d3d6d8;
$keyline-divider: #eef1f5;
$keyline-silk: #fafafa;
$keyline-hero: rgba(#fff, 0.13);
$readonly: #ccc;
$select: #e6f8ff; //#e0edfd;

@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;1,500&display=swap");
@import "index";

body {
    // height: 100%;
    // display: flex;
    // margin: 0;
    // padding: 0;
    // justify-content: center;
    // align-items: center;
}

.app {
    // width: 1000px;
    // height: 720px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid grey;
    box-sizing: border-box;
    min-height: 100vh;
    // background: url(asset/menubg.jpg);
    background: #d9f0ff;
    position: relative;
}

@media screen and (min-width: 1100px) and (min-height: 800px) {
    // .app {
    //     background: red;
    //     width: 1024px;
    //     height: 768px;
        
    // }
}
