$primary: #2176ff;
// $font-family: Grandstander;
$font-family: Karla;
$bg: #161616;
$motion-in-out: cubic-bezier(0.4, 0.14, 0.3, 1);
$text: #fff;
$link: $primary;
$text-muted: #6d7079;
$positive: #0a9756;
$negative: #910000;
$info: #2176ff;
$keyline-hard: #dedede;
$keyline: #e7e7e7;
// $keyline: #c0cad6;
$keyline-soft: #d3d6d8;
$keyline-divider: #eef1f5;
$keyline-silk: #fafafa;
$keyline-hero: rgba(#fff, 0.13);
$readonly: #ccc;
$select: #e6f8ff; //#e0edfd;

$left-bg: #0a5bd4;
$right-bg: orangered;

// @import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,400;1,500&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');
@import "index";


