/* common animations */
@at-root // slide content in

.slide-in {
    animation: slidein 300ms $motion-in-out;
}

@keyframes slidein {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Collapse plugin
.ReactCollapse--collapse {
    transition: height 500ms cubic-bezier(0.76, 0, 0.24, 1);
}

//CSS transition group slide
.transition-slide-enter {
    opacity: 0;
    transform: translateX(30px);
}

.transition-slide-exit {
    opacity: 1;
    transform: translateX(0px);
}

.transition-slide-enter-active {
    opacity: 1;
    transform: translateX(0px);
}

.transition-slide-exit-active {
    opacity: 0;
    transform: translateX(-30px);
}

.transition-slide-enter-active,
.transition-slide-exit-active {
    transition: opacity 300ms $motion-in-out, transform 300ms $motion-in-out;
}

// Staggered appearance

.sa {
    animation-name: adIn;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-duration: 1200ms;
    animation-fill-mode: both;
    will-change: transform;
}

@for $i from 1 through 50 {
    .d#{$i} {
        animation-delay: #{(100 + $i * 80)}ms;
    }
}

@keyframes adIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

// React router page swap
.router-wrapper {
    transition: 300ms opacity ease-in;
}

.router-wrapper.enter {
    opacity: 0;
    &.enter-active {
        opacity: 1;
    }
}

.router-wrapper.exit {
    opacity: 1;
    &.exit-active {
        opacity: 0;
    }
}
