@for $i from 0 through 64 {
    .mt-#{$i} {
    	margin-top: #{$i}px !important;
    }
    .mr-#{$i} {
    	margin-right: #{$i}px !important;
    }
    .ml-#{$i} {
    	margin-left: #{$i}px !important;
    }
    .mb-#{$i} {
    	margin-bottom: #{$i}px !important;
    }
    .pt-#{$i} {
    	padding-top: #{$i}px !important;
    }
    .pr-#{$i} {
    	padding-right: #{$i}px !important;
    }
    .pl-#{$i} {
    	padding-left: #{$i}px !important;
    }
    .pb-#{$i} {
    	padding-bottom: #{$i}px !important;
    }
}

.mx-auto { 
    margin-left: auto !important; 
    margin-right: auto !important; 
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}